services:
  db:
    image: 'postgres:15-alpine'
    container_name: filmyo-postgres-container  # <-- ¡Tu excelente idea!
    restart: always
    environment:
      POSTGRES_USER: miusuario
      POSTGRES_PASSWORD: micontraseña
      POSTGRES_DB: peliculas_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: